body{
    font-family: arial;
    font-size: 21px;
    color: blue;
    background: #1abc9c;
}
#container #header #menu {
    background: blue;
    padding: 2px 10px;
    overflow: hidden;
}

#container {
    width: 1100px;
    margin: 0px auto;
    height: auto;
    padding: 10px;
}

#container #header {
    margin-top: 20px;
}

#container #header #menu #user {
    float: left;
    color: white;
}

#container #header #menu #user a {
    color:  white;
    padding-right: 5px;
    margin-top:  5px;
    display:  inline-block;
    text-decoration:  none;
}

#container #header #menu #button-keranjang {
    float:  right;
    background:  orange;
    padding:  2px 10px;
    border-radius:  3px;
}

#container #header #menu #button-keranjang img {
    vertical-align: middle;
}

#container #footer {
    background:  blue;
    padding:  10px;
}

#container #footer p {
    color:  white;
    margin:  0px;
    font-size:  10px;
    text-align:  right;
    font-style:  italic;
}
#container #content {
    padding:  10px 0px;
    overflow:  hidden;
}
.notif{
    padding: 10px;
    color: red;
    margin-bottom: 10px;
    font-size: 12px;
}

#bg-page-profile {
    overflow:  hidden;
}

#profile-konten{
    margin-top: -295px;
    float: right;
    width: 835px;
    padding: 10px;
}
#menu-profile{
    float: left;
    width: 245px;
    background: #1e5474;
}
#menu-profile ul {
    margin:  0px;
    padding:  0px;
    list-style:  none;
}

#menu-profile ul li a {
    display:  block;
    text-decoration:  none;
    color: black;
    padding:  10px 20px;
}

#menu-profile ul li a:hover,
#menu-profile ul li a.active 
{
    background:  orange;
}
